<div class="fila">
    <div class="color-box" style="background-color: cyan;"></div>
    <div class="color-box" style="background-color: red;"></div>
</div>

<div class="fila">
    <div class="color-box-llarg" style="background-color: black;"></div>
</div>

<div class="fila">
    <div class="color-box-curt" style="background-color: yellow;"></div>
    <div class="color-box-curt" style="background-color: orange;"></div>
    <div class="color-box-curt" style="background-color: green;"></div>
</div>

<div class="columna">
    <div class="color-box-curt" style="background-color: brown;"></div>
    <div class="color-box-curt" style="background-color: pink;"></div>
    <div class="color-box-curt" style="background-color: beige;"></div>
    <div class="color-box-curt" style="background-color: brown;"></div>
</div>