<div class="app-container" *ngIf="task">
  <main class="app-main">
    <section class="form-section">
      <h2>Editar tasca</h2>
      <form #editForm="ngForm" class="task-form">
        
        <label for="title">Títol: </label>
        <input
            id="title"
            name="title"
            [(ngModel)]="task.title"
            class="form-input"
        />

        <label for="description">Descripció: </label>
            <input
                id="description"
                name="description"
                [(ngModel)]="task.description"
                class="form-input"
            />

        <label class="checkbox-label">
            <input
                type="checkbox"
                name="completed"
                [(ngModel)]="task.completed"
            />
            Completada
        </label>

        <div class="form-group">
          <label for="priority">Prioritat:</label>
          <div class="priority-buttons">
            <button
              type="button"
              [ngClass]="{ 'active-priority': task.priority === 'Alta', 'Alta': true }"
              (click)="task.priority = 'Alta'">
              Alta
            </button>

            <button
              type="button"
              [ngClass]="{ 'active-priority': task.priority === 'Mitjana', 'Mitjana': true }"
              (click)="task.priority = 'Mitjana'">
              Mitjana
            </button>

            <button
              type="button"
              [ngClass]="{ 'active-priority': task.priority === 'Baixa', 'Baixa': true }"
              (click)="task.priority = 'Baixa'">
              Baixa
            </button>
          </div>
        </div>

        <button
          type="button"
          (click)="save()"
          class="form-button"
        >
          ✅ Desar
        </button>
      </form>
    </section>
  </main>
</div>
