<div class="app-container" *ngIf="task">
  <main class="app-main">
    <section class="form-section">
      <h2>Editar tasca</h2>
      <form #editForm="ngForm" class="task-form">
        
        <label for="title">Títol: </label>
        <input
            id="title"
            name="title"
            [(ngModel)]="task.title"
            class="form-input"
        />

        <label for="description">Descripció: </label>
            <input
                id="description"
                name="description"
                [(ngModel)]="task.description"
                class="form-input"
            />

        <label class="checkbox-label">
            <input
                type="checkbox"
                name="completed"
                [(ngModel)]="task.completed"
            />
            Completada
        </label>
        
        <button
          type="button"
          (click)="save()"
          class="form-button"
        >
          ✅ Desar
        </button>
      </form>
    </section>
  </main>
</div>
