<form (ngSubmit)="onSubmit()" class="task-form">
  <div class="form-group">
    <label for="title">Títol de la tasca:</label>
    <input 
      type="text" 
      id="title" 
      [(ngModel)]="title" 
      name="title"
      placeholder="Escriu el títol de la tasca"
      [disabled]="!currentUser()"
    required>
  </div>

  <div class="form-group">
    <label for="description">Descripció de la tasca:</label>
    <input
      type="text"
      id="description"
      [(ngModel)]="description"
      name="description"
      placeholder="Escriu la descripció de la tasca"
      [disabled]="!currentUser()"
    required>
  </div>

  <div class="form-group">
    <label for="priority">Prioritat:</label>
      <div class="priority-buttons">
        <button
          type="button"
          [ngClass]="{ 'active-priority': priority === 'Alta', 'Alta': true }"
          [disabled]="!currentUser()"
          (click)="priority = 'Alta'">
          Alta
        </button>
        <button
          type="button"
          [ngClass]="{ 'active-priority': priority === 'Mitjana', 'Mitjana': true }"
          [disabled]="!currentUser()"
          (click)="priority = 'Mitjana'">
          Mitjana
        </button>
        <button
          type="button"
          [ngClass]="{ 'active-priority': priority === 'Baixa', 'Baixa': true }"
          [disabled]="!currentUser()"
          (click)="priority = 'Baixa'">
          Baixa
        </button>
      </div>
  </div>
  
  
  <button type="submit" [disabled]="!title || !currentUser()">
    Afegir Tasca
  </button>
</form>