<form (ngSubmit)="onSubmit()" class="task-form">
  <div class="form-group">
    <label for="title">Títol de la tasca:</label>
    <input 
      type="text" 
      id="title" 
      [(ngModel)]="title" 
      name="title"
      placeholder="Escriu el títol de la tasca"
      required>
  </div>

  <div class="form-group">
    <label for="description">Descripció de la tasca:</label>
    <input
      type="text"
      id="description"
      [(ngModel)]="description"
      name="description"
      placeholder="Escriu la descripció de la tasca"
    required>
  </div>

  <div>
    <label for="priority">Prioritat:</label>
    <select id="priority" name="priority" [(ngModel)]="priority" required>
      <option value="" disabled selected>Selecciona la prioritat</option>
      <option value="high">Alta</option>
      <option value="medium">Mitjana</option>
      <option value="low">Baixa</option>
    </select>
  </div>
  
  <button type="submit" [disabled]="!title">
    Afegir Tasca
  </button>
</form>